




{#  
 {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-outline-danger">{{ button_label|default('Save') }}</button>

    {{ form_end(form) }}
    {% endif %}#}

    {{ form_start(form) }}
    {{form_row(form.nom,{'label':'Nom','attr':{'placeholder':'Nom d\'utilisateur ...',}})}}
    {{form_row(form.prenom,{'label':'Prénom','attr':{'placeholder':'Prenom d\'utilisateur ...', }})}}
    {{form_row(form.tel,{'label':'Tel','attr':{'placeholder':'Numeros de télèphone d\'utilisateur ...'}})}}
    {{form_row(form.email,{'label':'E-mail','attr':{'placeholder':'Email d\'utilisateur ...', 'required':'true',}})}}
    {{form_row(form.sujet,{'label':'Sujet','attr':{'placeholder':'sujet'}})}}
    {{form_row(form.message,{'label':' message','attr':{'placeholder':'Veillez rentrer votre message ...', 'required':'true',}})}}
    {{form_row(form.service)}}
    {{form_row(form.solution)}}
   

    {{form_row(form.produit)}}
   
    {{form_row(form.reponce,{'label':' reponce','attr':{'placeholder':'Veillez rentrer votre reponce ...'}})}}
        <button class="btn btn-outline-danger mb-1 mt-2">{{ button_label|default('Envoyer') }}</button>


{{ form_end(form) }}



