{% extends 'base.html.twig' %}
{% block title %}vehicules et utilitaires{% endblock %}

{% block body %}


<section id="heroVehic" >
                

  <div class="container-fluid banner d-flex align-items-end justify-content-start mt-5"> 

    <div class="row ">
      <div class="col-lg-12 col-md-10 col-sm-8 text-white" style=" padding:50px!important;background:linear-gradient(336deg, rgba(20, 12, 12, 1), rgba(10,0,255,0)150% ); border-top-right-radius: 80%;
      border-top-left-radius: 5%;
      border:7px solid rgb(59, 54, 54);">
          
          <h2 class=" text-responssive text-center" style="padding:50px!important;">Vehicules et utilitaires</h2>
            <p>
            </p>

        </div>
    
    </div>
  </div>
</section>     
<section id="utilit">
  <div class="container">
                
   <div class="row d-flex align-items-center">
            
         <div class="col-lg-8 col-md-12 ">
           <h2 class="h2-responsive font-weight-bold mb-3 mt-5"> {{ categories.titre }} </h2>
             <p class="lead w-responsive mb-3">{{ categories.description}}</p>
         </div>     
         <div class="col-lg-4 col-md-12 col-sm-12">
             <img src="{{asset ('uploads/' ~ categories.images) }}" class="img-fluid" alt="image{{ categories.titre }}">
         </div>
 
   </div>
 </div>   
            
</section>          
 <section id="souscat">
  {% for sousCategorie in sousCategories %}
      <div class="container"> 
          
            <div class="row shadow-lg bg-white rounded mb-5 d-flex align-items-center">
            
                  {% if sousCategorie.images is not null %}
                    <div class="col-lg-3 nonpad col-md-12 col-sm-12">
                      <img class="card-img-top img-responssive"  src="{{ asset ('uploads/' ~ sousCategorie.images) }}" class="image.{{ sousCategorie.type }}" alt="images {{ sousCategorie.type }}" >
                    </div>
                  {% endif %} 
                  
                    <div class="col-lg-3 col-md-6 text-center">
                      <h3 class="h1-responsive font-weight-bold text-center mt-3">{{ sousCategorie.type }}</h3>
                    </div>
                    <div class="col-lg-6 col-md-12 ">
                    
                      <p class="lead  w-responsive mb-3" >{{ sousCategorie.typeDescription }}</p>
                    </div>     
            </div>      
    
           
          
               
                    <div class="row tel text-center mb-5 ">
                      <!--cardgroup-->
                      {% if is_granted ('ROLE_EDITEUR')  %}
                      <h2 class="h2-responsive font-weight-bold mb-3 mt-5"> NOS PRODUITS </h2> 
                   {% for produit in sousCategorie.produits %}

                          
                            <div class="col-lg-3 col-md-6 col-sm-12 mb-3 ">
                                  <div class=" card bordred  style="  height: 600px;
  
                                  width: 100%;
                                
                                  position: relative;
                                 
                                
                                  box-shadow: -50px 7px 10px rgba(20, 20, 20, 0.5);
                                 
                                 
                                  
                                  border-radius: 10px;
                                  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
                                  transform-style:preserve-3d;
                                 
                                  
                                 
                                  position: relative;transform: rotateY(-45deg);
                                  transition: 0.5s all;
                                background-color: red;
                               ">
                                    {% if produit.images is not null %}
                                      <img class="card-img " src="{{asset ('uploads/' ~ produit.images)}}" class="img-responsives img-fluid" alt="image.{{ produit.nom }}" >
                                    {% endif %}
                                    
                                        <div class=" card-body text-center">
                                          
                                          <ul class="">
                                            <li class="row"><h4 class="text-responsive font-weight-bold text-center">{{ produit.nom}}</h4></li>
                                            <li class="row"><h5 class="text-responsive text-center">{{ produit.marque }}</h5></li>
                                            <li class="row"><h5 class="text-responsive text-center" >{{ produit.etat }}</h5></li>
                                           <li class="row mt-1">  <button type="button" class="btn btn-outline-primary "><a  href="{{ path('detail_show', {id : produit.id }) }}"><strong>Detail</strong></a></button></li>
                                            <li class="row mt-1"> <button type="button" class="btn btn-outline-danger "><a  href="{{ path('produits_contactmessage', {id : produit.id }) }}"><strong>Contactez-nous</strong></a></button></li>
                                             
                        
                                          </ul>
                                        </div>
                                  </div>
                            </div> 
                            {% endfor %} 
                      </div>
                

          {% endif %}     
         {% endfor %}
        
         </div>         
</section>
    
     <section id="utilit">
          <div class="container ">
            <h3 class="h1 text-responsive font-weight-bold mb-3 "> Nos Services </h3>
            {% for service in categories.service %}          
              <div class="row d-flex align-items-center mb-5 "style="border-top:1px solid black">
                        
                    <div class="col-lg-8 col-md-12 ">
                      <h3 class=" h3 text-responsive font-weight-bold mb-5 mt-3"> {{ service.titre }} </h3>
                        <p class="lead w-responsive mb-3">{{ service.description}}</p>
                    </div>     
                    <div class="col-lg-4 col-md-12 col-sm-12 d-flex align-items-center">
                        <img src="{{asset ('uploads/' ~ categories.images) }}" class="img-fluid" alt="image{{ categories.titre }}">
                    </div>
        
              </div>
          </div>
    </section>
      {% endfor %}
  {% endblock %}
                


  

  

